@charset "utf-8";
/* CSS Document */

/* Custom CSS for table styling */
    #table-container {
      overflow-x: auto;
    }

    table {
      width: 100%;
      margin: auto;
      table-layout: fixed;
    }

    th {
      background-color: #f8f9fa;
      font-weight: bold;
    }

    tbody tr:hover {
      background-color: #f8f9fa;
    }

    /* Custom CSS for <tr> elements */
    tbody tr {
      background-color: #fff;
    }

    tbody tr:nth-child(even) {
      background-color: #f8f9fa;
    }

    tbody tr:hover {
      background-color: #e9ecef;
    }

    /* Custom CSS for mobile screens */
	  @media (min-width: 992px){
		  table {
			max-width:  80%; /* Remove max-width on the table */
			margin: auto;
			table-layout: fixed;
		}
	  }
	  
	  /* CSS for the podium */
.podium {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            height: 300px;
            gap: 20px;
        }

        .step {
            flex: 1;
            background-color: #f8f8f8;
            padding: 20px;
            text-align: center;
            font-size: 18px;
        }

        .step:first-child {
            height: 100px;
        }

        .step:nth-child(2) {
            height: 200px;
        }

        .step:last-child {
            height: 300px;
        }

        .step h2 {
            margin: 0;
            padding: 0;
        }

        table {
            margin-top: 50px;
            width: 100%;
            text-align: center;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f8f8f8;
        }
	  #top3{
		  margin: auto;
		  text-align: center;
	  }
	  
	  @media (max-width: 992px) {
  		table {
    		font-size: 3em; /* Adjust the font size as needed */
  		}
		  .podium h2{
			  font-size: 3em;
		  }
		  .podium p{
			  font-size: 2em;
		  }
		  .step:first-child {
            height:8em;
        }

        .step:nth-child(2) {
            height: 12em;
        }

        .step:last-child {
            height: 16em;
        }
		  
		  #top3 {
			  font-size:5em;
		  }
	}