@import url('https://fonts.googleapis.com/css2?family=Festive&family=Rampart+One&display=swap');


/*global stuff*/
body{
	overflow-x: hidden;
	background-color: white;
	margin: 0;

}

.container{
	width:92%;
	margin: auto;
}

/*link properties*/
a:link{
	text-decoration: none;
}

a:visited{
	text-decoration:none;
}

a:hover{
	font-weight: bold;
}

span {
    	display: inline;
  	}
span:before {
    	content: "\a ";
    	white-space: pre;
}
/*link properties*/
/*global stuff*/

/*Main header stuff*/
#main-header{
	background-color: white;
	margin-top: 0px;
	padding: 10px;
	border-style: white solid;
	box-shadow: 0px 5px 26px 5px gray;
	height: 10em;
	width: 100%;
}

#main-header h1{
	margin: auto;
	float: left;
	font-size: max(4em, 12px);
	min-width: 100px;
}

#main-header a:hover{
	font-weight:bold;
}

#main-header a:visited{
	color:black;
}


#main-navbar{
	top: 10px;
	margin:auto;
	float:right;
}

#main-navbar ul{
	list-style-type: none;
}

#main-navbar li{
	color: black;
	border-style: solid;
	padding: 3px;
	font-size: 1.5em;
	font-family: rampart one;
	margin-bottom: .2em;
}

#main-navbar a:visited{
	color:black;
}
/*Main header stuff*/

#social img{
	position: fixed;
	display: block;
	border-style: solid;
	border-width: 0px;
	border-color: black;
	border-radius: 50%;
	width: 0%;
	min-width: 70px;
	height: 0%;
}

.par1{
	background-color: black;
	color: white;
}

#mailing-list label{
	margin-left: 5%;
	border-style: solid;
	box-sizing: border-box;
	height: 500px;
}

/*Slideshow*/
#slideshow{
	overflow: hidden;
}

#slideshow figure{
	position:relative;
	width: 500%;
	margin:0;
	left:0;	
	animation: 15s slideshow infinite;
}

#slideshow img{
	float: left;
	width: 20%;
}

@keyframes slideshow{
	0%{
		left:0;
	}
	20%{
		left:0;
	}
	25%{
		left:-100%;
	}
	45%{
		left:-100%;
	}
	50%{
		left:-200%;
	}
	70%{
		left:-200%;
	}
	75%{
		left:-300%;
	}
	95%{
		left:-300%;
	}	
	100%{
		left: -400%;
	}
}

/*Slideshow*/

#pthird{
	margin: auto;
	display:grid;
	grid-template-columns: 1fr;
	grid-column-gap: 5px;
	grid-row-gap:5px;
}

#pthird > div{
	margin: auto;
	width: 80%;
	border: 1px solid black;
	border-sizing: border-box;
}

#pthird h3{
	text-align:center;
}

#pthird p{
	text-align: justify;
}

#pthird img{
	display: block;
	margin:auto;
	width: 70%;
}