@font-face {
    font-family: 'nevis Bold';
    font-style: normal;
    font-weight: normal;
    src: local('nevis Bold'), url('../fonts/nevis.woff') format('woff');
}



/*global stuff*/
::-webkit-scrollbar{
	width: 10px;
}

body{
	font-family: 'nevis Bold';
	background-color: white;
	margin: 0;
}

#mainHeader{
	width: 100%;
	margin-right: auto; 
	margin-left: auto; 
	background-color: #000769;
	text-decoration-color: aqua;
}

#headerTextWrapper{
	width: 80%;
	max-width: 1536px;
	margin-right: auto; 
	margin-left: auto;
}
#headerTextWrapper #name{
	color:white;
	text-align: center;
	font-size: 48pt;
}